<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.dao.UploadDAO">
    <resultMap id="uploadMap" type="upload">
        <id property="id" column="id"></id>
        <result property="path" column="path"></result>
    </resultMap>
    <insert id="add" parameterType="upload">
        insert into upload (path) values (#{path})
    </insert>
    <select id="queryUpload" resultMap="uploadMap">
        select * from upload
    </select>
</mapper>